<!--product mangement  -->
<div class="row  mt-sm-2 mt-2 pe-2">
    <table class="table table-hover table-custom table-striped mt-md-1 mt-sm-0 mt-0 " >
        <thead>
            <tr>
                <th colspan="7"><a href="" class="btn btn-custom">Add Product</a></th>
            </tr>
            <tr class="text-center" >
                <th class="  ">Sl-No</th>
                <th class="">Product Name</th>
                <th class="">Price</th>
                <th class="">Stock</th>
                <th class="">Description</th>
                <th class="col-1">Image</th>
                <th class="">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class=" ">1</td>
                <td class="">Loremipsumdolor sitamet</td>
                <td class="">100000</td>
                <td class="">185958</td>
                <td class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa dolorem eum, consequuntur unde provident corrupti officia architecto velit nam hic, ab cumque sapiente, blanditiis praesentium rerum neque minus delectus ea!</td>
                <td class="col-1">Image</td>
                <td class="">Edit/Delete</td>
            </tr>
            <tr>
                <td class="">2</td>
                <td class="">Loremipsumdolor sitamet</td>
                <td class="">100000</td>
                <td class="">185958</td>
                <td class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa dolorem eum, consequuntur unde provident corrupti officia architecto velit nam hic, ab cumque sapiente, blanditiis praesentium rerum neque minus delectus ea!</td>
                <td class="col-1"><img src="/images/logo.png" class="image-custom" alt="">
                </td>
                <td class="">Edit/Delete</td>
            </tr>
        </tbody>         
    </table>
</div>