<!--Order mangement  -->
<div class="row  mt-sm-2 mt-2 pe-2">
    <table class="table table-hover table-custom table-striped mt-md-1 mt-sm-0 mt-0 " >
        <thead>
            <tr>
                <th colspan="7"><a href="" class="btn btn-custom">Custom Order</a></th>
            </tr>
            <tr class="text-center" >
                <th class="">Sl-No</th>
                <th class="">OrderDate</th>
                <th class="">Userdetails</th>
                <th class="">ProductDetails</th>
                <th class="">Amount</th>
                <th class="">Payment</th>
                <th class="">Status</th>
                <th class="">View Order</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="">1</td>
                <td class="">12/01/2021</td>
                <td class="">Rena Mathew, <br>Thiruvananthapuram<br>+9189765432</td>
                <td class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ut asperiores tenetur debitis, itaque ipsam delectus molestias impedit illum fugiat corrupti quidem nesciunt aliquam blanditiis molestiae error architecto libero possimus?</td>
                <td class="">2000</td>
                <td class="">COD</td>
                <td class="">Approved</td>
                <td class=""><a href="">ViewOrder</a></td>
            </tr>
            <tr>
                <td class="">1</td>
                <td class="">12/01/2021</td>
                <td class="">Rena Mathew, <br>Thiruvananthapuram<br>+9189765432</td>
                <td class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ut asperiores tenetur debitis, itaque ipsam delectus molestias impedit illum fugiat corrupti quidem nesciunt aliquam blanditiis molestiae error architecto libero possimus?</td>
                <td class="">2000</td>
                <td class="">COD</td>
                <td class="">Cancelled</td>
                <td class=""> <a href="">ViewOrder</a></td>
            </tr>
        </tbody>         
    </table>
</div>