<!-- admin navbar page  -->
    <div class="container-fluid main-container navbar-container">
        <header class="header-custom ">
            <nav class="navbar navbar-light ">
                <div class="container-fluid  container-fluid-navbar-admin-custom" >
                    <a class="navbar-brand text-white text-custom navbar-brand-custom" href="#">{{header_message}}</a>
                    <div class="ms-auto">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {{#if adminLoginPage}}
                                <li class="nav-item">
                                    <a class="nav-link  text-white nav-link-custom mt-3" aria-current="page" href="#">Signout</a>
                                </li>
                            {{else}}
                                <li class="nav-item">
                                    <a class="nav-link  text-white link-custom mt-3" aria-current="page" onclick="document.getElementById('admin-login-form').style.display='block'" href="#">Signin</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
   