<!-- admin navbar page  -->
    <div class="container-fluid main-container navbar-container">
        <header class="header-custom ">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid  container-fluid-navbar-admin-custom" >
                    <a class="navbar-brand text-white text-custom navbar-brand-custom" href="#">{{header_message}}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {{#if adminLogin}}
                                <li class="nav-item">
                                    <a class="nav-link  text-white nav-link-custom mt-3" aria-current="page" href="#">Signout</a>
                                </li>
                            {{else}}
                                <li class="nav-item">
                                    <a class="nav-link  text-white nav-link-custom mt-3" aria-current="page" onclick="document.getElementById('admin-login-form').style.display='block'" href="#">Signin</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>


{{!-- 
<header>
    <div class="container-fluid navbar-custom">
        <nav class="navbar navbar-expand-lg  navbar-dark" >
            <div class="container-fluid position-relative " >
                <div class="position-absolute top-0 start-50 translate-middle my-4 pt-4">
                    <a class="navbar-brand navbar-text-custom mt-5" href="#">{{header_message}}</a>        
                </div>                    
                <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon " ></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mt-2 mb-2 mb-lg-0 ms-auto">
                        {{#if adminLogin}}
                        <li class="nav-item">
                                <a class="nav-link active text-white nav-link-custom" aria-current="page" onclick="document.getElementById('admin-login-form').style.display='block'"href="#">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                                <a class="nav-link active text-white nav-link-custom" aria-current="page" onclick="document.getElementById('admin-login-form').style.display='block'"href="#">Login</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header> --}}