<header>
    <div class="container-fluid navbar-custom">
        <nav class="navbar navbar-expand-lg  navbar-dark" >
            <div class="container-fluid position-relative " >
                <div class="position-absolute top-0 start-50 translate-middle my-4 pt-4">
                    <a class="navbar-brand navbar-text-custom mt-5" href="#">Admin</a>        
                </div>                    
                <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon " ></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mt-2 mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                                <a class="nav-link active text-white nav-link-custom" aria-current="page" onclick="document.getElementById('admin-login-form').style.display='block'"href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>