<!-- user navbar -->
<div class="container-fluid main-container navbar-container">
        <header class="header-custom ">
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid  container-fluid-navbar-admin-custom" >
                <a class="navbar-brand" href="#"><img class="image-custom img-fluid" src="/images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-white link-custom " aria-current="page" href="#"><i class="fa-solid fa-house me-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white link-custom" aria-current="page" href="#"><i class="fa-regular fa-heart me-2"></i>Whishlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white link-custom" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping me-2"></i>Cart</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  text-white link-custom me-1 dropdown-toggle"id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page" href="#"><i class="fa-regular fa-user me-2"></i>Profile</a>
                            <ul class="dropdown-menu sublist-custom" aria-labelledby="dropdownMenuButton1">
                                {{#if guestUserPage}}
                                    <li class="nav-item ">
                                        <a class="nav-link dropdown-item text-white link-custom sublist--link-custom" aria-current="page" href="#">Signin</a>
                                    </li>
                                {{else}}
                                    <li class="nav-item ">
                                        <a class="nav-link dropdown-item text-white link-custom sublist--link-custom" aria-current="page" href="#">My Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link dropdown-item text-white link-custom sublist--link-custom" aria-current="page" href="#">Signout</a>
                                    </li>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
