* {
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

body {
    background: linear-gradient(to left, rgba(7, 128, 115, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(24, 92, 140, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(17, 166, 199, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.main-container {
    max-width: 100vw;
}

.text-custom {
    font-weight: 500;
    color: #ca2323;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.2),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.2);

}

.btn-custom {
    background: rgb(11, 4, 64);
    border-radius: 40% 0%;
    color: #ffffff
}

.btn-custom:hover {
    color: #ffffff;
    border: 3px solid rgb(165, 42, 42);
}

.alert-custom {
    color: rgb(170, 23, 23);
    padding: 10px;
    background-color: rgb(247, 186, 186);
}
input[type="text"],input[type="password"]{
    background-color: #ca232301;
    border:none;
}
input[type="text"]:focus,input[type="password"]:focus {
    background-color: #be610f01;
}
.image-custom {
    width: 100%;
    height: 100%;
}

.line {
    border-top: 1px solid #d9c4c4;
    width: 106%;
    display: inline-block;
    box-shadow: 1px 0px 1px #b4a7a7;
}

.btn-close-custom:hover {
    font-size: 1rem;
    border-color: rgb(7, 3, 52);
    border-radius: 50%;
    border-width: 2px;
    color: rgb(165, 42, 42);
}

.nav-link-custom:hover {
    text-decoration: underline;
}
.box{
        width: 30rem;
        height: 20rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 5px;
        position: relative;
        z-index: 1;
        background: inherit;
        overflow: hidden;
}
.box:before{
    position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
}
@media screen and (max-width: 400px) {
    .navbar-brand-custom {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .container-fluid-navbar-admin-custom {
        position: relative;
    }

    .navbar-brand-custom {
        position: absolute;
        top: 0px;
        left: 40%;
        font-size: 2rem;
    }

}

































/* *{
    margin:0;
    padding:0;
    margin: 0;     
    border: 1px solid black;
}

body{
    background-color:rgb(245, 245, 245);
}
.main-container{
    max-width: 100vw;
}
.custom-container {
    background-color: #ffffff;

}
header{
    width:100vw;
}
.btn-custom{
background:rgb(165, 42, 42);
border-radius: 40% 0%;
color:#ffffff
}
.btn-custom:hover{
    color:#ffffff;
    border:3px solid rgb(165, 42, 42);
}
.alert-custom{
    color: rgb(170, 23, 23);
    padding:10px;
    background-color: red;
}
.image-custom{
    width:100%;
    height: 100%;
}
.line {
    border-top: 1px solid #d9c4c4;
    width:106%;
    display: inline-block;
    box-shadow: 1px 0px 1px #b4a7a7;
}

.navbar-custom{
    background-color: rgb(165, 42, 42);
    height:12vh;
}
.navbar-text-custom{
    color:#ffffff;
    font-size: 2.8rem;
    text-shadow: 6px 5px #2d2c2c;
}
.navbar-text-custom:hover{
    text-decoration: none;
    color:rgb(255, 245, 245);
    font-size: 3rem;
}
.nav-link-custom{
    font-size:1.2rem;
   
}
.nav-link-custom:hover{
    text-decoration: underline;
   
}



.main-heading{
background: -webkit-linear-gradient(rgb(165, 42, 42), rgb(231, 227, 227));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.btn-close-custom:hover{
font-size: 1rem;
border-color:rgb(165, 42, 42);
border-radius:50%;
border-width: 2px;
color: rgb(165, 42, 42);
}


#admin-login-form {
    width: 100vw;
}
.aside-top-section-text {
    background: -webkit-linear-gradient(rgb(6, 5, 5), rgb(184, 180, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.admin-aside-left{
    background-color: #F1CCCC;
}

@media screen and (max-width: 992px) {
    .navbar-custom{
            height: 25vh;
        }
        .main-heading{
            font-size: 1.5rem;
        }            
}
@media screen and (max-width: 700px) {

    .main-heading {
        font-size: 1.3rem;
    }
    .container-fluid-custom{
        position: relative;
    }


}

 */
