.navbar-custom{
    background-color: brown;
    height:12vh;
}
.navbar-text-custom{
    color:#ffffff;
    font-size: 2rem;
}
.navbar-text-custom:hover{
    text-decoration: none;
    color:rgb(255, 245, 245);
    font-size: 3rem;
}
.nav-link-custom{
    font-size:1.2rem;
}
.nav-link-custom:hover{
    text-decoration: underline;
}
.custom-container{
    width:40vw;
    margin-top: 6em; ;
}



